{% extends 'base.html.twig' %}

{% block title %} FriendsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> Friends</h1>

    <Table border="1">
        <tr>
            <td>user</td>
            <td>Status</td>
        </tr>
        {% for friend in app.user.userA %}
            <tr>
                <td>{{ friend.userb.username }}</td>
                <td>{{ friend.status }}</td>
            </tr>
        {% endfor %}
        {% for friend in app.user.userB %}
            <tr>
                <td>{{ friend.usera.username }}</td>
                <td>
                    {% if friend.status=='pending' %}
                        <a href="{{ path("acceptfriend",{'id':friend.id}) }}">accept</a>
                        <a href="{{ path("rejectfriend",{'id':friend.id}) }}">reject</a>
                    {% else %}
                        {{ friend.status }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </Table>
</div>
{% endblock %}
